.main-inner {
  position: relative;
  padding-top: 155px;
  /* position: absolute; */
}
.main-visual {
  width: 100%;
  height: 850px;
  /* position: absolute;
    top: -55px;
    left: 0; */
  position: relative;
  /* transform: translateX(-50%); */
}
.visual-box {
  height: 100%;
  position: absolute;
  top: -55px;
  left: 0;
}
.visual-img {
  position: absolute;
  top: 85px;
  left: 15px;
  width: 1455px;
  height: 729px;
  border-radius: 173px;
  overflow: hidden;
}
.visual-img img {
  width: 100%;
  display: block;
}
.visual-frame {
  width: 1500px;
  height: 840px;
  position: absolute;
  top: 0;
  left: 0;
}
.visual-frame img {
  width: 100%;
  display: block;
}
/* 비주얼 팝업 */
.visual-popup {
  position: absolute;
  top: 63px;
  left: 1140px;
}
.popup-list {
  width: 308px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popup-list img {
  width: 100%;
  display: block;
}
/* 프로모션 */
.promotion-box {
  padding: 5% 0;
  background-color: #fff;
}
.promotion-txt p {
  text-align: center;
  padding-bottom: 4%;
  font-size: 14px;
  color: #858585;
}
/* 스와이퍼 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #444; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 스와이퍼 스타일 */
.swiper-wrapper {
  padding-bottom: 100px;
}
.visual-swiper .slide-img {
  border-radius: 100% 100% 0 0;
  overflow: hidden;
}
.visual-swiper .slide-txt {
  padding: 8% 0;
  text-align: left;
}
.visual-swiper .slide-txt p {
  position: relative;
  padding-bottom: 30px;
  font-size: 12px;
  color: #d9bb97;
}
.visual-swiper .slide-txt p::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 260px;
  height: 2px;
  opacity: 0.3;
  background-color: #d9bb97;
}
.visual-swiper .slide-txt h6 {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  opacity: 1 !important;
  background: #f3ccd5 !important;
}
.swiper-pagination-bullet-active {
  /* background-color: red !important; */
  border-radius: 0 !important;
  width: 27px !important;
  height: 32px !important;
  background: url("../img/icon_bullet_active.png") no-repeat !important;
  background-size: cover;
}
/* 뉴 아이템 */
.new-box {
  padding: 5% 0;
  background: #ffe4ea;
}
.new-swiper img {
  width: 100%;
  display: block;
  border-radius: 15px;
}
.new-swiper .swiper-slide {
  width: 100%;
  display: flex;
  gap: 10px;
}
.new-list {
  display: flex;
}
.new-list:first-child li > a {
  /* width: 356px; */
  height: 511px;
}
.new-sub-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.new-sub-list li {
width: calc((100% - 10px) / 2);
height: 252px;
    border-radius: 15px;
    overflow: hidden;
  background-color: #fff;
}
.new-sub-list li >img{
    width: 200px;
    height: 100%;
    display: block;
}
.new-sub-list li a{
    display: flex;

}
.new-sub-txt{
    position: absolute;
    padding: 30px;
    padding-left: 220px;
    font-size: 15px;
    font-weight: bold;
    color: #E43F49;
}
/* 퀵 버튼 */
.quick-btn{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-top: 180px;
    margin-left: 340px;
    position: absolute;
    background-color: #EA6082;
}
.quick-img{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.quick-btn img{
    width: 100%;
    display: block;
}
/* BR 플레이 */
.br-play{
    position: relative;
    /* max-height: 900px; */
    padding: 7% 0;
    background: url(../img/bg_play.jpg);
}
.bg-play{
    position: absolute;
    top: 30px;
    right: 85px;
    width: 100%;
    height: 100%;
}
.bg-play img{
    display: block;
}
.br-play .promotion-txt h1, .br-play .promotion-txt p{
    color: #37110e !important;
}
.play-img{
    display: flex;
    justify-content: center;
    gap: 1%;
}
.play-img img{
    width: 100%;
    display: block;
}